{% extends "base.html" %}

{% block main %}
<!-- Main block content starts here -->

<h1>Task Details Page</h1>
<!-- Heading for the task details page -->

<p>
  <strong>Title:</strong>
  {{ task.title }}
</p>
<!-- Display task title -->

<p>
  <strong>Content:</strong>
  {{ task.content }}
</p>
<!-- Display task content -->

<a href="{% url 'tasks:index' %}">Back</a> |
<!-- Link to go back to the task list -->
<a href="{% url 'tasks:edit' task.id %}">Edit</a>
<!-- Link to edit the task -->

<!-- Main block content ends here -->
{% endblock %}