{% extends "base.html" %}

{% block main %}
<!-- Main block content starts here -->

<h1>Task List Page</h1>
<!-- Heading for the task list page -->

<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th colspan="3"></th>
    <!-- Table headers for title, content, and actions (details, edit, delete) -->
  </tr>
  {% for task in tasks %}
  <!-- Loop through each task in the tasks list -->
  <tr>
    <td>{{ task.title }}</td>
    <!-- Display task title -->
    <td>{{ task.content }}</td>
    <!-- Display task content -->
    <td><a href="{% url 'tasks:detail' task.id %}">Details</a></td>
    <!-- Link to view task details -->
    <td><a href="{% url 'tasks:edit' task.id %}">Edit</a></td>
    <!-- Link to edit task -->
    <td><a href="{% url 'tasks:delete' task.id %}">Delete</a></td>
    <!-- Link to delete task -->
  </tr>
  {% endfor %}
</table>

<br>

<a href="{% url 'tasks:create' %}">Create New</a>
<!-- Link to create a new task -->

<!-- Main block content ends here -->
{% endblock %}