
html
Copy code
{% extends "base.html" %}

{% block main %}
<table>
  <tbody>
    <tr>
      <th>Username</th>
      <td>{{ user.username }}</td>
    </tr>
    <tr>
      <th>Email Address</th>
      <td>{{ user.email }}</td>
    </tr>
    <tr>
      <th>Age</th>
      <td>{{ user.age }}</td>
    </tr>
  </tbody>
</table>

<form action="{% url 'user_delete' user.id %}" method="post">
  {% csrf_token %}
  <input type="submit" value="Delete Account">
</form>

<a href="{% url 'user_detail' user.id %}">Go back</a>
{% endblock %}